@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Black base across the entire app */
  background-color: #000000;
  color: #ffffff;
  @apply antialiased;
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
  text-rendering: optimizeLegibility;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
